iter.csv
battery.log
differenceSolarConsume.log
*.png
*.log
batteryChoiceEvaluation.log
battery_evaluate_ouput.csv
battery.log
battery.log
differenceSolarConsume.log
.gitignore
battery.log
2.csv
battery.py
differenceSolarConsume.log
